# OS Generated
# ============
._*
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
[Dd]esktop.ini
[Tt]humbs.db

# IDE Generated
# =============
.vs/
.consulo/
.gradle/
*.tmp
*.mdb
*.opendb
*.svd
*.tmp
*.VC.db
*.booproj
*.csproj
*.pdb
*.pidb
*.sln
*.suo
*.unityproj
*.user
*.userprefs
[Ee]xported[Oo]bj/

# Unity Generated
# ===============
.*/
*.stackdump
*.mdb.meta
*.pdb.meta
*.pidb.meta
*.symbols.zip
sysinfo.txt
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/
[Mm]emory[Cc]aptures/
[Oo]bj/
[Tt]emp/

# Misc
# ====
Assets/AssetStoreTools*
Assets/SceneDependencyCache*
Assets/TypeDependencyCache*
crashlytics-build.properties
__*
